<div class="navbar">
	<div class="logo">
		<img src="http://i233.photobucket.com/albums/ee158/TriBoy44/SnapNote_Logo.png~original">
	</div>
</div>
<form ng-submit="landingC.signin()">
	<h1>Sign In</h1>
	<input type="text" placeholder="Username" ng-model="landingC.signinForm.username">
	<input type="password" placeholder="Password" ng-model="landingC.signinForm.password">
	<input type="submit" value="Sign In">
</form>
<form ng-submit="landingC.signup()">
	<h1>Sign Up</h1>
	<input type="text" placeholder="Name" ng-model="landingC.signupForm.name">
	<input type="text" placeholder="Username" ng-model="landingC.signupForm.username">
	<input type="password" placeholder="Password" ng-model="landingC.signupForm.password">
	<input type="submit" value="Sign Up">
</form>

<!-- <video class="fixvid" autoplay poster="http://i233.photobucket.com/albums/ee158/TriBoy44/f576b83f-f0c0-4d62-8aa5-007b70329ce7.png~original">
            <source src="Stock.mp4" type="video/mp4">
        </video> -->